

.servicios {
  background-color: #000d41;
  padding: 50px;
}

.cajaDatosServicios {

  text-align: left;
  padding-left: 10px;
  padding-right: 50px;
  padding-top: 20px;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  left: 65px;
  top: 53px;
  background: #c9d4ff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.cajaDatosServicios p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.services-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  justify-content: center;
}
.aboutServices {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 0px;
  max-width: 100%;
}
.service-desc {
  padding-top: 10px;
  background: rgba(91, 124, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  text-align: center;
  color: white;
  padding-bottom: 10px;
}

.footer1 {
  
  background: rgba(91, 124, 255, 0.7);
  text-align: left;
  font-size: 20px;
 
}
